<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Wie is Pollo?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Praten over afscheid en verlies is lastig, zowel voor kinderen als voor volwassenen.
          Toch is het belangrijk om hier op een open en veilige manier aandacht aan te besteden.
          Het Huis van Pollo biedt hiervoor een waardevolle handreiking.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Deze leskist, vormgegeven als een huis,
          bevat achtergrondinformatie voor kinderen, jongeren en volwassenen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p><i>De leskist is schoolbreed inzetbaar en kan jaarlijks worden ingezet,
          want Pollo groeit met de kinderen mee.
          Zo wordt ruimte gecreëerd voor troost, begrip en herinnering.</i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Het (voor)leesboek over Pollo laat zien hoe hij tijdens zijn basisschooltijd
          verschillende vormen van afscheid meemaakt.
          Daarnaast biedt het werkboek creatieve opdrachten
          waarmee kinderen herinneringen kunnen vastleggen aan iemand die overleden is.
          Elk van deze opdrachten wordt ondersteund door een passend verhaal.
          In de leskist kunnen materialen worden bewaard voor de creatieve verwerking.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Dood is een onderwerp dat vaak moeilijk bespreekbaar is.
          Het huis van Pollo helpt om het gesprek hierover wél te voeren,
          op een manier die past bij kinderen.</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div> -->
  </div>
</section>
